.bold {
  font-weight: 700;
}


.card {
  box-shadow: 2px 8px 12px black;
  border: 1px solid #ccc;
  background-color: white;
  max-width: 300px;
  margin: auto;
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}


.pointer {
  cursor: pointer;
  width: 20px;
}

.pointer:hover {
  box-shadow: 2px 3px 6px black;
}

.pointer:active {
  box-shadow: 2px 2px 2px black;

}