.form {
  display: grid;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto 24px;
  padding: 16px;
  border: 1px solid #cccccc;
  border-radius: 10px;
}

.form label {
  display: grid;
  gap: 6px;
}

.form input, .form select, .form button {
  padding: 8px
}

